<a href="https://colab.research.google.com/github/elisabavaresco/EBAC-M5/blob/main/Interacao_com_usuario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualização de Variáveis e Textos

In [ ]:
print("Conhecendo o comando Print")

x = 8
print(x)

In [ ]:
y = 10
soma = x + y
print(soma)

In [ ]:
nome = "Rosrigo Rebouças"
print(nome)

Concatenação

In [ ]:
x = 5
print("O valor de x é ", x)

In [ ]:
print("O valor de x é ", x, "e o dobro é ", x * 2)

In [ ]:
print("Eu, ", nome, "tirei", x, "na prova de Python")

In [ ]:
print(f"Eu {nome} tirei {x} na prova de Python")

In [ ]:
y = 10; z = 20 + x - y

print("Declarar várias vairáveis na mesma linha:", y, z)

Type

In [2]:
x = 10
type(x)
print('x', type(x))

nome = "Rodrigo"
print('nome', type(nome))

num = "100"
num_convert = int(num) # converter variável
print("num", type(num))
print("num_conver", type(num_convert))

num_float = float(num)
print('num_float', type(num_float))

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_conver <class 'int'>
num_float <class 'float'>

Input

In [ ]:
nome = input("Digite o nome do usuário ")
print(nome)

In [ ]:
valor = input("Digite a nota ")
print(nome, "sua nota foi", valor)

In [ ]:
vlor = input("Digite o valor do produto: ")
print(valor)

In [ ]:
valor_convet = int(valor)
desconto = valor_convet + 5
print(desconto)

In [ ]:
desconto = int(valor) + 5
print(desconto)